
:root{

    /* Cores principais */

    --primary:#0F4C81;
    --primary-dark:#0B355A;

    --secondary:#F59E0B;
    --secondary-light:#FBBF24;

    --accent:#FF7A00;

    --white:#FFFFFF;

    --background:#F7F9FC;

    --text:#23324A;

    --text-light:#6B7280;

    --border:#E5E7EB;

    /* Sombras */

    --shadow:
    0 15px 40px rgba(15,76,129,.12);

    --radius:18px;

}
